<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
    <head>
       <title>Skus</title>
       <link th:rel="stylesheet" th:href="@{/highlight/styles/monokai.min.css}">
       <script defer src="/highlight/highlight.min.js"></script>
       <style>
       	.btn-outline-custom {
		  color: #b144bd !important; /* Cor do texto */
		  border: 2px solid #b144bd !important; /* Borda na cor desejada */
		  background-color: transparent !important; /* Fundo transparente */
		  transition: all 0.3s ease-in-out; /* Transição suave */
		}
		
		/* Efeito ao passar o mouse */
		.btn-outline-custom:hover {
		  background-color: #b144bd !important; /* Fundo preenchido ao passar o mouse */
		  color: #ffffff !important; /* Texto branco */
		}
       </style>
    </head>
    <body>
        <section layout:fragment="content">
		    <div class="container mt-4">
		        <div class="row">
		            <!-- Coluna para os filtros -->
		            <div class="col-md-3">
				    <h4>Filtros</h4>
				    <form id="filterForm" class="p-3 border rounded shadow-sm bg-light" 
				        hx-trigger="submit" 
				        hx-get="/filtros" 
				        hx-target="#skuCards" 
				        hx-swap="innerHTML" 
				        hx-push-url="true" 
				        hx-headers='{"HX-Partial-Request": "true"}'>
				        
				        <div class="mb-3">
				            <label for="skuIds" class="form-label">Ids de SKU:</label>
				            <input type="text" class="form-control" id="skuIds" name="skuIds" th:value="${queryParamsMap['skuIds']}" />
				        </div>
				
				        <div class="mb-3">
				            <label for="productIds" class="form-label">Ids de Produto:</label>
				            <input type="text" class="form-control" id="productIds" name="productIds" th:value="${queryParamsMap['productIds']}" />
				        </div>
				
				        <div class="mb-3">
				            <label for="sellerId" class="form-label">Id do Seller:</label>
				            <input type="text" class="form-control" id="sellerId" name="sellerId" th:value="${queryParamsMap['sellerId']}" />
				        </div>
				
				        <div class="mb-3">
				            <label for="status" class="form-status">Status:</label>
				            <select id="status" name="status" class="form-select">
				            	<option value="" th:selected="${queryParamsMap['status'] == ''}">- Escolha um status</option>
				                <option value="PENDING" th:selected="${queryParamsMap['status'] == 'PENDING'}">Pendente</option>
				                <option value="FINISHED_WITH_SUCCESS" th:selected="${queryParamsMap['status'] == 'FINISHED_WITH_SUCCESS'}">Finalizado com sucesso</option>
				                <option value="FINISHED_WITH_ERROR" th:selected="${queryParamsMap['status'] == 'FINISHED_WITH_ERROR'}">Finalizado com erros</option>
				                <option value="UNCOMPLETED" th:selected="${queryParamsMap['status'] == 'UNCOMPLETED'}">Incompletos</option>
				                
				            </select>
				        </div>
				        
				        <div class="mb-3">
				            <label for="sorting" class="form-label">Ordenação:</label>
				            <select id="sorting" name="sorting" class="form-select">
				                <option value="Ascendente" th:selected="${queryParamsMap['sorting'] == 'Ascendente'}">Ascendente</option>
				                <option value="Descendente" th:selected="${queryParamsMap['sorting'] == 'Descendente'}">Descendente</option>
				            </select>
				        </div>
				
				        <button type="submit" class="btn btn-primary w-100">Aplicar Filtros</button>
				    </form>
				</div>

					
		            <!-- Coluna para os cards de SKUs -->
		            <div class="col-md-9">
		                <h4>SKUs Encontradas</h4>
		                <!-- Fragmento de SKUs, que será substituído -->
		                <div id="skuCards" th:fragment="skuCards">
		                    <div th:each="sku : ${skus}">
		                        <div class="card mb-3">
		                            <div class="card-body">
		                            	<div class="d-flex flex-row justify-content-between">
		                            		<div>
				                                <h5 class="card-title" th:text="${sku.productId}"></h5>
				                                <p class="card-text" th:text="'SKU ID: ' + ${sku.skuId}"></p>
				                                <p class="card-text" th:text="'Seller ID: ' + ${sku.sellerId}"></p>
				                                <p class="card-text" th:text="'Status: ' + ${sku.status}"></p>
		                            		</div>
		                            		<div class="d-flex flex-column gap-3 align-self-center">
				                                <button class="btn btn-outline-primary"
				                                		th:id="${sku.skuId + '-json-button'}"
							                            th:attr="data-sku=${jsonHelper.convertToJson(sku)}" 
							                            onclick="copyJSON(this)">
							                        Copiar JSON
							                    </button>
							                    <button class="btn btn-outline-custom"
				                                		th:attr="json-button-id=${sku.skuId + '-json-button'}" th:onclick="maximizeJSON(this)">
							                        Visualizar JSON
							                    </button>
		                            		</div>
		                            	</div>
		                            </div>
		                        </div>
		                    </div>
		                	<div th:replace="~{pagination :: pagination(${pagination})}"></div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Modal para exibir o JSON expandido -->
			<div class="modal" tabindex="-1" id="jsonModal" style="display: none;">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">JSON da SKU</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
        				<div id="jsonModalContent"></div>
			      </div>
			      <div class="modal-footer">
			      <button class="btn btn-outline-primary"
                   		id="modal-footer-copy-json"
                      	onclick="copyJSON(this)">
                        Copiar JSON
                    </button>
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			      </div>
			    </div>
			  </div>
			</div>
		    
			<script th:inline="javascript">
				function copyJSON(button) {
			        console.log('copyJSON', {id: button.id, 'json-button-id': button.getAttribute('json-button-id'), button} );
			        // Pegando o JSON da SKU armazenado no atributo data-sku do botão
			        const skuJSON = button.id === 'modal-footer-copy-json' ?
			        		document.getElementById(button.getAttribute('json-button-id')).getAttribute('data-sku')
			        		: button.getAttribute('data-sku');
			        		
			        console.log('copyJSON', {skuJSON} );
			        
			        navigator.clipboard.writeText(skuJSON).then(function() {
			            alert('JSON copiado com sucesso!');
			        }, function(err) {
			            alert('Erro ao copiar JSON: ', err);
			        });
		
// 			        // Criando um textarea temporário para copiar o conteúdo
// 			        const textarea = document.createElement('textarea');
// 			        textarea.value = skuJSON;
// 			        document.body.appendChild(textarea);
		
// 			        // Selecionando e copiando o texto
// 			        textarea.select();
// 			        document.execCommand('copy');
		
// 			        // Removendo o textarea temporário
// 			        document.body.removeChild(textarea);
		
// 			        // Opcional: Alerta ou feedback visual
// 			        alert('JSON copiado com sucesso!');
			    }
				
				function maximizeJSON(button) {
					const jsonButtonId = button.getAttribute('json-button-id');
					document.getElementById('modal-footer-copy-json').setAttribute('json-button-id', jsonButtonId);
				    
				    const skuJSON = document.getElementById(jsonButtonId).getAttribute('data-sku')

				    // Abrir modal
				    const modal = new bootstrap.Modal(document.getElementById('jsonModal'));

				    // Encontrar o container onde vamos inserir o conteúdo JSON
				    const jsonModalContentContainer = document.getElementById('jsonModalContent');
				    
				    // Limpar qualquer conteúdo anterior (se houver)
				    jsonModalContentContainer.innerHTML = '';

				    // Criar o elemento <pre> e <code>
				    const preElement = document.createElement('pre');
				    const codeElement = document.createElement('code');

				    // Adicionar as classes necessárias para o highlight.js e formato JSON
				    codeElement.classList.add('json');

				    // Adicionar o conteúdo JSON ao <code>
				    codeElement.textContent = skuJSON;

				    // Adicionar o <code> dentro do <pre>
				    preElement.appendChild(codeElement);

				    // Adicionar o <pre> ao container
				    jsonModalContentContainer.appendChild(preElement);

				    // Aplicar o destaque no conteúdo com highlight.js
				    hljs.highlightElement(codeElement);

				    // Mostrar o modal
				    modal.show();
				}
			</script>
			
			<style>
			    .json {
			        cursor: pointer;
			        resize: none;
			        
			    }
			</style>
		</section>
    </body>
</html>
